#Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.settings/org.eclipse.jdt.core.prefs

# CDT-specific
.cproject

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

#Java
*.class
*.jar
/parseMathExp.java
/Operator.java
/Config.java
/target
